body{
background-color: #E5D6EC;
}

.idpic{
border-radius:30%;
height:70%;
}

.navbar{
height: 12%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
background-color: #F8F5FA;
border-radius: 20px;
overflow-x: hidden;
}

nav ul{
list-style: none;
width:100%;
text-align: right;
padding-right: 10px; 
}

nav ul li{
display: inline-block;
margin: 10px 30px;
}

nav ul li a{
color: #690792;
text-decoration: none;
}

.name-container {
flex: 1;
}

.name {
margin: 0 5px; 
font-size: 15px;
font-family: Garamond;
}

.text{
text-align: center;
width: 50%;
margin-top: 150px;
margin-left: 20px;
background-color: #F4EDF8;
border-radius: 40px;
padding: 20px 20px;
}

.info{
width:80%;
margin-top: 180px;
background-color: #F4EDF8;
border-radius: 40px;
padding:20px 10px;
}

.gallery {
margin: 5px;
border: 3px solid #ccc;
display: inline-block;
justify-content:center;
width: 250px;
}

.gallery:hover {
border: 1px solid #777;
}

.gallery img {
width: 100%;
height: auto;
}

.desc {
padding: 15px;
text-align: center;
}

h1{
color: #690792;
font-size: 40px;
}

p1{
color: #B156D7;
font-size: 20px;
}

.fill{ 
float: right;
display: flex;
align-items: flex-end;
margin: 20px;
margin-top: 50px;
}

.card{
width: 150px;
height: 190px;
color: #fff;
padding: 0 10px;
margin: 20px 10px;
display:flex;
cursor: pointer;
background-position: center;
background-size: cover;
transition: transform 0.5sec;
}

.card1{
background-image: url(image/debab.jpg);
}

.card2{
background-image: url(image/interest.jpg);
}

.card3{
background-image: url(image/fav.jpg);
}

.card4{
background-image: url(image/moment.jpg);
}

.card:hover{
transform: translateY(-10px);
}

.me{
height: 39%;
width: 17%;
float: left;
margin: 0 50px;
border-radius: 30px;
}

h2{
color: #690792;
font-size: 40px;
margin-left: 50px;
margin-top: 60px;
}

.text-me{
background-color:#F4EDF8;
border-radius: 20px;
width: 40%;
padding: 20px 20px;
display: flex;
text-align: justify;
margin-top: 50px;
}

p2{
color: #690792;
font-size: 18px;
font-family: "Garamond", serif;
line-height: 1.3;
}

h3{
color: #690792;
font-size: 40px;
text-align:center;
background-color:#F4EDF8;
border-radius: 70px;
padding: 5px; 
}

.me2{
margin: 10px 10px;
width:100%;
text-align: center;
}

.me2 img{
width: 23%;
padding: 5px;
}

.debab{
text-align: center;
margin: 5px 50px;
} 

h4{
color: #690792;
font-size: 40px;
margin-top: 60px;
}

.collagedebab{
width: 25%;
border: 5px solid #F4EDF8;
border-radius: 10px;
}

.text-video{
display: flex;
width: 100%;
}

.textdebab{
width: 80%;
height: 10%;
margin-top: 40px;
margin-left: 30px;
padding: 50px 55px;
background-color: #F4EDF8;
border-radius: 40px;
}

p4{
color: #B156D7;
font-size: 17px;
margin-top: 20px;
}

video{
border-radius: 50px;
border: 5px solid #F4EDF8; 
}

.viddebab{
margin:20px  100px;
width:20%;
}

.addinfo{
width: 100%;
display: flex;
}

.kuro{
width: 20%;
margin: 20px 50px;
border-radius: 50px;
border: 5px solid black;
}

.kitten{
width: 20%;
margin: 20px 50px;
border-radius: 50px;
border: 5px solid black;
}

h5{
margin-top: 70px;
font-size: 35px;
}

p5{
width: 50%;
margin: 20px 20px;
font-size: 17px;
background-color: #F4EDF8;
border-radius: 40px;
padding: 70px 50px;
}

h6{
color: #690792;
font-size: 30px;
}

p6{
color: #B156D7;
font-size: 17px;
margin-top: 0;
}

.fampic{
height: 52%;
width: 18%;
float: left;
margin-top: 60px;
margin-left: 10px;
margin-right: 20px;
margin-below: 20px;
border: 5px solid #F4EDF8;
border-radius: 15px;
}

.scroll-container {
background-color: #F4EDF8;
border-radius: 20px;
overflow: auto;
white-space: nowrap;
padding: 10px;
margin:20px 0;
width:75%;
height: 60%;
}

.scroll-container img {
padding: 10px;
width:40%;
height: 95%;
border-radius: 30px;
}

.collageint{
width:20%;
border: 5px solid black;
border-radius: 50px;
margin: 0 10px;
}

.vidkpop{
margin-top:10px;
margin-left: 20px;
width:30%;
}

.text-vid-int{
display: flex;
width: 100%;
}

h7{
font-size: 50px;
margin: 5px 10px;
}

p7{
width: 70%;
margin: 50px 20px;
font-size: 20px;
background-color: #F4EDF8;
border-radius: 40px;
padding: 50px 50px;
}

.ytlinks{
margin:20px;
width:100%;
display: flex;
}

.ytlink{
width: 40%;
height: 100%;
margin: 10px 20px;
}

.vidf1{
margin-top:10px;
margin-left: 20px;
width:30%;
}

p8{
color: #B156D7;
font-size: 18px;
background-color: #F4EDF8;
border-radius: 40px;
margin: 55px 10px;
padding: 20px 20px;
display: flex;
}

.moments{
height: 45%;
width: 18%;
float: left;
margin-top: 50px;
margin-left: 10px;
margin-right: 10px;
border: 5px solid #F4EDF8;
border-radius: 15px;
}

.btn {
border: none;
margin-top: 50px; 
margin-left: 50px;
margin-bottom: 20px;
padding: 20px 20px;
background-color: white;
cursor: pointer;
border-radius: 10px;
}

.btn:hover {
background-color: #ddd;
}

.btn.active {
background-color: #666;
color: white;
}

.row{
margin: 10px 30px;
}

.row .column{
padding: 10px;
}

.column {
float: left;
width: 20%;
display: none;
}

.column img{
border-radius: 20px;
width: 160px;
height: 300px;
}
 
.row:after {
content: "";
display: table;
clear: both;
}

.fav-text{
width: 50%;
font-size: 20px;
color:#B156D7 ;
margin: 100px 20px;
padding: 20px 20px;
background-color:#F4EDF8 ;
border-radius: 20px;
}

.fav-text2{
margin: 10px 20px;
text-align: justify;
}

h9{
width:25%;
font-size: 30px;
color: #B156D7;
}

p9{
width: 20%;
font-size: 20px;
color: #B156D7;
}

.fav-foods{
text-align: center;
display: flex;
background-color:#F4EDF8;
border-radius: 20px;
padding: 10px;
height: 35%;
margin: 20px;
justify-content: space-between;

}

.favfoods{
display: inline-block;
padding: 10px;
border-radius: 20px;
}

.fav-books{
text-align: center;
display: flex;
background-color:#F4EDF8;
border-radius: 20px;
padding: 10px;
height: 35%;
margin: 20px;
justify-content: space-between;
}

.favbooks{
display: inline-block;
padding: 10px;
border-radius: 20px;
}

.fav-movies{
text-align: center;
display: flex;
background-color:#F4EDF8;
border-radius: 20px;
padding: 10px;
height: 35%;
margin: 20px;
justify-content: space-between;
}

.favmovies{
display: inline-block;
padding: 10px;
border-radius: 20px;
}

.fav-dramas{
text-align: center;
display: flex;
background-color:#F4EDF8;
border-radius: 20px;
padding: 10px;
height: 35%;
margin: 20px;
justify-content: space-between;
}

.favdramas{
display: inline-block;
padding: 10px;
border-radius: 20px;
}

.fav-tvshows{
text-align: center;
display: flex;
background-color:#F4EDF8;
border-radius: 20px;
padding: 10px;
height: 35%;
margin: 20px;
justify-content: space-between;
}

.favtvshows{
display: inline-block;
padding: 10px;
border-radius: 20px;
}

.fav-songs{
text-align: center;
display: flex;
background-color:#F4EDF8;
border-radius: 20px;
padding: 20px;
height: 35%;
margin: 20px;
justify-content: space-between;
}

.favsongs{
display: inline-block;
padding: 10px;
border-radius: 20px;
height: 70%;
}

audio{
width:200px;
}








.footer{
position:fixed;
bottom: 0;
left: 50%;
width:100%;
transform: translateX(-50%);
font-size:30px;
background-color: #6A168D;
}

.footer a{
color: white;
float: right;
padding: 10px 20px;

}

p{
float: left;
font-size: 13px;
color: white;
padding-left: 10px;
}

@media screen and (max-width: 1300px) {
.text{
width: 30%;
margin: 25px 20px;
}

.card{
width: 120px;
height: 160px;
}

.me{
height:22%;
width:19%;
margin-left: 110px;
margin-bottom: 10px;
}

.text-me{
width: 40%;
margin-left: 30px;
}

h2{
font-size: 20px;
margin-left: 130px;
}

p2{
font-size: 12px;
} 

h3{
font-size: 20px;
}

.me2 img{
height: 23%;
}

.collagedebab{
width: 40%;
}

.textdebab{
margin: 10px 10px;
width: 70%;
}

.viddebab{
width: 30%;
height: 40%;
margin: 70px 20px;
}

.kuro{
width:30%;
height: 40%;
margin: 100px 50px;
}

.kitten{
width:30%;
height: 40%;
margin: 100px 50px;
}

.scroll-container {
width:100%;
height:50%;
margin-top: 20px;
}

.scroll-container img {
padding: 10px;
width:50%;
height: 100%;
}

.fampic{
height: 43%;
width: 23%;
}

h6{
font-size: 20px;
}

p6{
font-size: 11px;
}

.vidkpop{
margin-top:90px;
margin-left: 30px;
width:40%;
height: 30%;
}

.collageint{
width:21%;
height: 25%;
}

h7{
font-size:40px;
}

p7{
font-size:15px;
}

.vidf1{
margin-top:50px;
margin-left: 30px;
width:40%;
height: 30%;
}

.moments{
width: 22%;
height: 30%;
margin-top: 90px;
}

p8{
font-size: 15px;
margin-top: 50px;
}

.column img{
width: 200px;
height: 170px;
}

.fav-text{
width: 40%;
font-size: 18px;
margin-top: 70px;
}

.fav-text2{
margin-top: 30px;
}

h9{
font-size: 20px;
}

p9{
font-size: 15px;
width:30%;
}

.favfoods{
width: 30%;
height: 80%;
margin-top: 15px;
}

.favbooks{
width: 18%;
height: 80%;
margin-top: 15px;
}

.favmovies{
width: 20%;
height: 80%;
margin-top: 15px;
}

.favdramas{
width: 21%;
height: 80%;
margin-top: 15px;
}

.favtvshows{
width: 20%;
height: 80%;
margin-top: 15px;
}

.favsongs{
width: 80%;
height: 50%;
margin-top: 30px;
}

audio{
width:100px;
}
}



